// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000;
$white: #fff;
$grey: rgba(245,246,250,100);
$green: #09896f;
$red: #d52a32;
$blue: #3D83FF;


$link: $blue;

$input-label: $blue;
$input-focus: $blue;
$input-border: #DFE3EB;
$input-text: #8794AA;

$btn-border: #979797;
$btn-boxshadow: rgba(61,131,255,30);


$whatAppIcon: #BEC5D2;
$whatsAppColor: #1EBEA5;

$light-blue: #86ccd5;
$dark-blue: #1767F4;

$heading-blue: #196fbb;
$heading-grey: #8794AA;

$box-grey: #a09d9d;

$focus-color: $blue;
$focus: $focus-color;

$body-text: $black;

// ======================
// DEFAULT SYSTEM COLORS

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.
