// BASE FONTS
// =============================================================================
$base-font-size:    16px;
$base-line-height:  28px;

$montserrat-regular: 'Montserrat Regular';
$montserrat-italic: 'Montserrat Italic';
$montserrat-thin: 'Montserrat Thin';
$montserrat-thin-italic: 'Montserrat Thin Italic';
$montserrat-extraLight: 'Montserrat ExtraLight';
$montserrat-extralight-italic: 'Montserrat ExtraLight Italic';
$montserrat-light: 'Montserrat Light', Arial;
$montserrat-light-italic: 'Montserrat Light Italic';
$montserrat-medium: 'Montserrat Medium', Arial;
$montserrat-medium-italic: 'Montserrat Medium Italic';
$montserrat-semibold: 'Montserrat SemiBold', Arial;
$montserrat-semibold-italic: 'Montserrat SemiBold Italic';
$montserrat-bold: 'Montserrat Bold';
$montserrat-bold-italic: 'Montserrat Bold Italic';
$montserrat-extrabold: 'Montserrat ExtraBold';
$montserrat-extrabold-italic: 'Montserrat ExtraBold Italic';
$montserrat-black: 'Montserrat Black';
$montserrat-black-talic: 'Montserrat Black Italic';



// FONT INCLUDES
// =============================================================================
@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/Montserrat-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Italic';
    src:  url('fonts/Montserrat-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Thin';
    src: url('fonts/Montserrat-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Thin Italic';
    src: url('fonts/Montserrat-ThinItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat ExtraLight';
    src: url('fonts/Montserrat-ExtraLight.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat ExtraLight Italic';
    src: url('fonts/Montserrat-ExtraLightItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('fonts/Montserrat-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Light Italic';
    src: url('fonts/Montserrat-LightItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('fonts/Montserrat-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Medium Italic';
    src: url('fonts/Montserrat-MediumItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('fonts/Montserrat-SemiBold.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat SemiBold Italic';
    src: url('fonts/Montserrat-SemiBoldItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Bold Italic';
    src: url('fonts/Montserrat-BoldItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('fonts/Montserrat-ExtraBold.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat ExtraBold Italic';
    src: url('fonts/Montserrat-ExtraBoldItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Black';
    src: url('fonts/Montserrat-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Black Italic';
    src: url('fonts/Montserrat-BlackItalic.otf') format('opentype');
}
