// WhatApp Chat Help Sign Form
// =============================================================================

.container{
  .form-wrapper{
    background: $white;
    width: 500px;
    height: 470px;
    position: fixed;
    top: 50%;
    left: 50%;
    @include border-radius($gutter/5);
    @include transform(-50%, -50%);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.05);
    .form-header{
      padding-top: $gutter2;
      text-align: center;
      i{
        font-size: 60px;
        color: $whatAppIcon;
        @include transition(all 0.3s ease);
        &:hover{
          color: $whatsAppColor;
        }
      }
      .intro-text{
        margin: $gutter2 0;
        h3{
          font-size: 24px;
          line-height: 29px;
          color: $heading-grey;
        }
        p{
          font-size: 14px;
          line-height: 18px;
          color: $whatAppIcon;
        }
        h3, p{
          @include montserrat-medium;
        }
      }
    }
    .form-body{
      text-align: center;
      .signin-form{
        .input-wrapper{
          display: flex;
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 10px;
          label{
            margin-left: $gutter;
            margin-top: 13px;
            position: absolute;
            @include montserrat-semibold;
          }
          .form-input{
            height: 60px;
            width: 440px;
            order: -1;
            @include montserrat-medium;
            @include border-radius(4px);
            &:focus + label{
              color: $blue;
            }
          }
        }
        .arrow-light{
          position: relative;
          z-index: 100;
          font-size: 0;
          color: $dark-blue;
          @include border-radius(50%);
          &:after,&:before{
            content: "";
            width: 10px;
            height: 2px;
            top: -10px;
            background: $white;
            position: absolute;
            z-index: 999;
          }
          &:after{
            right: 17px;
            top: -3px;
            @include rotate(-55deg);
          }
          &:before{
            @include rotate(45deg);
            right: 17px;
          }
          /*@include montserrat-thin;
          position: relative;
          color: $white;
          &:before{
            content:"";
            right: 5px;
            top: -10px;
            position: absolute;
            background: $dark-blue;
            width: 45px;
            height: 45px;
            z-index: 999;
            @include transform-rotate (-45deg);
            @include border-radius(50%);
          }
          &:after{
            @include transform-rotate (45deg);
          }*/
          .btn{
            margin-top: 20px;
            @include montserrat-semibold;
            @include border-radius($gutter2);
          }
        }
      }
    }
  }
  .link{
    font-size: 14px;
    color: $whatAppIcon;
    text-align: center;
    @include montserrat-semibold;
  }
}

